<form method="POST" action="/dogs">
    <input type="number" name="id" placeholder="Enter id here">
    <input type="text" name="name" placeholder="Enter name here">
    <button type="submit">Submit</button>

</form>